<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vwfsag.fso.persistence.CityMapper">
	<resultMap id="BaseResultMap" type="City">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="INTEGER" />
		<result column="city_sort" property="citySort" jdbcType="INTEGER" />
		<result column="name_en" property="nameEn" jdbcType="VARCHAR" />
		<result column="shortname_en" property="shortnameEn" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, name, parent_id, city_sort, name_en, shortname_en
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from mis_city
		where id = #{id}
	</select>
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mis_city
	</select>
	<select id="getProvinces" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mis_city
		where parent_id = 1
	</select>
	<select id="getCities" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mis_city
		where parent_id = #{parentId}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from mis_city
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="City">
		insert into mis_city (id, code, name,
		parent_id, city_sort, name_en,
		shortname_en)
		values (#{id}, #{code},
		#{name},
		#{parentId}, #{citySort}, #{nameEn},
		#{shortnameEn})
	</insert>
	<insert id="insertSelective" parameterType="City">
		insert into mis_city
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="citySort != null">
				city_sort,
			</if>
			<if test="nameEn != null">
				name_en,
			</if>
			<if test="shortnameEn != null">
				shortname_en,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="code != null">
				#{code},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="parentId != null">
				#{parentId},
			</if>
			<if test="citySort != null">
				#{citySort},
			</if>
			<if test="nameEn != null">
				#{nameEn},
			</if>
			<if test="shortnameEn != null">
				#{shortnameEn},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="City">
		update mis_city
		<set>
			<if test="code != null">
				code = #{code},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId},
			</if>
			<if test="citySort != null">
				city_sort = #{citySort},
			</if>
			<if test="nameEn != null">
				name_en = #{nameEn},
			</if>
			<if test="shortnameEn != null">
				shortname_en = #{shortnameEn},
			</if>
		</set>
		where id = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="City">
		update mis_city
		set code = #{code},
		name = #{name},
		parent_id = #{parentId},
		city_sort = #{citySort},
		name_en = #{nameEn},
		shortname_en = #{shortnameEn}
		where id = #{id}
	</update>
</mapper>