<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vwfsag.fso.persistence.OrderMapper">
	<resultMap id="BaseResultMap" type="Order">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="product_id" property="productId" jdbcType="INTEGER" />
		<result column="item_sku_id" property="itemSkuId" jdbcType="INTEGER" />
		<result column="shop_id" property="shopId" jdbcType="INTEGER" />
		<result column="city_id" property="cityId" jdbcType="INTEGER" />
		<result column="city_name" property="cityName" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="car_prices" property="carPrices" jdbcType="VARCHAR" />
		<result column="activity_deposit" property="activityDeposit"
			jdbcType="INTEGER" />
		<result column="activity_discount" property="activityDiscount"
			jdbcType="INTEGER" />
		<result column="buy_count" property="buyCount" jdbcType="INTEGER" />
		<result column="order_status" property="orderStatus" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="expire_time" property="expireTime" jdbcType="BIGINT" />
		<result column="pay_id" property="payId" jdbcType="VARCHAR" />
		<result column="pay_time" property="payTime" jdbcType="BIGINT" />
		<result column="pay_amount" property="payAmount" jdbcType="INTEGER" />
		<result column="cancel_time" property="cancelTime" jdbcType="BIGINT" />
		<result column="coupon_destroy_time" property="couponDestroyTime"
			jdbcType="BIGINT" />
		<result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
		<result column="coupon_expire_time" property="couponExpireTime"
			jdbcType="BIGINT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, product_id, item_sku_id, shop_id, city_id, city_name, user_id,
		product_name,
		user_name, phone, car_prices, activity_deposit, activity_discount, buy_count,
		order_status,
		create_time, expire_time, pay_id, pay_time, pay_amount, cancel_time,
		coupon_destroy_time,
		coupon_code, coupon_expire_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from c_order
		where id = #{id}
	</select>
	<select id="selectByOrderIdRange" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from c_order
		where id > #{id} and id &lt; #{id} + 101
	</select>
	<select id="selectBySelective" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from c_order
		<where>
			<if test="productId != null">
				product_id = #{productId}
			</if>
			<if test="itemId != null">
				and item_id = #{itemId}
			</if>
			<if test="shopId != null">
				and shop_id = #{shopId}
			</if>
			<if test="cityId != null">
				and city_id = #{cityId}
			</if>
			<if test="userName != null">
				and user_name = #{userName}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
			<if test="status != null">
				and order_status = #{status}
			</if>
			<if test="couponCode != null">
				and coupon_code = #{couponCode}
			</if>
			<if test="createDateFrom != null">
				and create_time &gt; #{createDateFrom}
			</if>
			<if test="createDateTo != null">
				and create_time &lt; #{createDateTo}
			</if>
		</where>
		order by create_time desc limit ${start}, ${limit}
	</select>
	<select id="countBySelective" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*) from c_order
		<where>
			<if test="productId != null">
				product_id = #{productId}
			</if>
			<if test="itemId != null">
				and item_id = #{itemId}
			</if>
			<if test="shopId != null">
				and shop_id = #{shopId}
			</if>
			<if test="cityId != null">
				and city_id = #{cityId}
			</if>
			<if test="userName != null">
				and user_name = #{userName}
			</if>
			<if test="phone != null">
				and phone = #{phone}
			</if>
			<if test="status != null">
				and order_status = #{status}
			</if>
			<if test="couponCode != null">
				and coupon_code = #{couponCode}
			</if>
			<if test="createDateFrom != null">
				and create_time &gt; #{createDateFrom}
			</if>
			<if test="createDateTo != null">
				and create_time &lt; #{createDateTo}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from c_order
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="Order">
		insert into c_order (id, product_id, item_sku_id,
		shop_id, city_id, city_name,
		user_id, product_name, user_name,
		phone, car_prices, activity_deposit,
		activity_discount, buy_count, order_status,
		create_time, expire_time, pay_id,
		pay_time, pay_amount, cancel_time,
		coupon_destroy_time, coupon_code, coupon_expire_time
		)
		values (#{id}, #{productId}, #{itemSkuId},
		#{shopId}, #{cityId}, #{cityName},
		#{userId}, #{productName}, #{userName},
		#{phone}, #{carPrices}, #{activityDeposit},
		#{activityDiscount}, #{buyCount}, #{orderStatus},
		#{createTime}, #{expireTime}, #{payId},
		#{payTime}, #{payAmount}, #{cancelTime},
		#{couponDestroyTime}, #{couponCode}, #{couponExpireTime}
		)
	</insert>
	<insert id="insertSelective" parameterType="Order">
		insert into c_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="itemSkuId != null">
				item_sku_id,
			</if>
			<if test="shopId != null">
				shop_id,
			</if>
			<if test="cityId != null">
				city_id,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="productName != null">
				product_name,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="carPrices != null">
				car_prices,
			</if>
			<if test="activityDeposit != null">
				activity_deposit,
			</if>
			<if test="activityDiscount != null">
				activity_discount,
			</if>
			<if test="buyCount != null">
				buy_count,
			</if>
			<if test="orderStatus != null">
				order_status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="expireTime != null">
				expire_time,
			</if>
			<if test="payId != null">
				pay_id,
			</if>
			<if test="payTime != null">
				pay_time,
			</if>
			<if test="payAmount != null">
				pay_amount,
			</if>
			<if test="cancelTime != null">
				cancel_time,
			</if>
			<if test="couponDestroyTime != null">
				coupon_destroy_time,
			</if>
			<if test="couponCode != null">
				coupon_code,
			</if>
			<if test="couponExpireTime != null">
				coupon_expire_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="productId != null">
				#{productId},
			</if>
			<if test="itemSkuId != null">
				#{itemSkuId},
			</if>
			<if test="shopId != null">
				#{shopId},
			</if>
			<if test="cityId != null">
				#{cityId},
			</if>
			<if test="cityName != null">
				#{cityName},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="productName != null">
				#{productName},
			</if>
			<if test="userName != null">
				#{userName},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="carPrices != null">
				#{carPrices},
			</if>
			<if test="activityDeposit != null">
				#{activityDeposit},
			</if>
			<if test="activityDiscount != null">
				#{activityDiscount},
			</if>
			<if test="buyCount != null">
				#{buyCount},
			</if>
			<if test="orderStatus != null">
				#{orderStatus},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="expireTime != null">
				#{expireTime},
			</if>
			<if test="payId != null">
				#{payId},
			</if>
			<if test="payTime != null">
				#{payTime},
			</if>
			<if test="payAmount != null">
				#{payAmount},
			</if>
			<if test="cancelTime != null">
				#{cancelTime},
			</if>
			<if test="couponDestroyTime != null">
				#{couponDestroyTime},
			</if>
			<if test="couponCode != null">
				#{couponCode},
			</if>
			<if test="couponExpireTime != null">
				#{couponExpireTime},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="Order">
		update c_order
		<set>
			<if test="productId != null">
				product_id = #{productId},
			</if>
			<if test="itemSkuId != null">
				item_sku_id = #{itemSkuId},
			</if>
			<if test="shopId != null">
				shop_id = #{shopId},
			</if>
			<if test="cityId != null">
				city_id = #{cityId},
			</if>
			<if test="cityName != null">
				city_name = #{cityName},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="productName != null">
				product_name = #{productName},
			</if>
			<if test="userName != null">
				user_name = #{userName},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="carPrices != null">
				car_prices = #{carPrices},
			</if>
			<if test="activityDeposit != null">
				activity_deposit = #{activityDeposit},
			</if>
			<if test="activityDiscount != null">
				activity_discount = #{activityDiscount},
			</if>
			<if test="buyCount != null">
				buy_count = #{buyCount},
			</if>
			<if test="orderStatus != null">
				order_status = #{orderStatus},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime},
			</if>
			<if test="payId != null">
				pay_id = #{payId},
			</if>
			<if test="payTime != null">
				pay_time = #{payTime},
			</if>
			<if test="payAmount != null">
				pay_amount = #{payAmount},
			</if>
			<if test="cancelTime != null">
				cancel_time = #{cancelTime},
			</if>
			<if test="couponDestroyTime != null">
				coupon_destroy_time = #{couponDestroyTime},
			</if>
			<if test="couponCode != null">
				coupon_code = #{couponCode},
			</if>
			<if test="couponExpireTime != null">
				coupon_expire_time = #{couponExpireTime},
			</if>
		</set>
		where id = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="Order">
		update c_order
		set product_id = #{productId},
		item_sku_id = #{itemSkuId},
		shop_id = #{shopId},
		city_id = #{cityId},
		city_name = #{cityName},
		user_id = #{userId},
		product_name = #{productName},
		user_name = #{userName},
		phone = #{phone},
		car_prices = #{carPrices},
		activity_deposit = #{activityDeposit},
		activity_discount = #{activityDiscount},
		buy_count = #{buyCount},
		order_status = #{orderStatus},
		create_time = #{createTime},
		expire_time = #{expireTime},
		pay_id = #{payId},
		pay_time = #{payTime},
		pay_amount = #{payAmount},
		cancel_time = #{cancelTime},
		coupon_destroy_time = #{couponDestroyTime},
		coupon_code = #{couponCode},
		coupon_expire_time = #{couponExpireTime}
		where id = #{id}
	</update>
</mapper>