<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vwfsag.fso.persistence.ShopMapper">
	<resultMap id="BaseResultMap" type="Shop">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="longitude" jdbcType="VARCHAR" property="longitude" />
		<result column="latitude" jdbcType="VARCHAR" property="latitude" />
		<result column="province_id" jdbcType="INTEGER" property="provinceId" />
		<result column="province_name" jdbcType="VARCHAR" property="provinceName" />
		<result column="city_id" jdbcType="INTEGER" property="cityId" />
		<result column="city_name" jdbcType="VARCHAR" property="cityName" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="pre_sales_id" jdbcType="VARCHAR" property="preSalesId" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="create_time" jdbcType="BIGINT" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, address, phone, longitude, latitude, province_id,
		province_name, city_id, city_name, code, pre_sales_id, email,
		status, create_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mis_shop
		where id = #{id}
	</select>
	<select id="selectByCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mis_shop
		where code = #{code}
	</select>
	<select id="selectByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mis_shop
		where name = #{name}
	</select>
	<select id="selectByProvinceId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mis_shop
		<where>
			<if test="provinceId != null">
				province_id = #{provinceId}
			</if>
		</where>
		order by city_id, name limit ${start}, ${limit}
	</select>
	<select id="countByProvinceId" resultType="java.lang.Integer">
		select count(*) from mis_shop
		<where>
			<if test="provinceId != null">
				province_id = #{provinceId}
			</if>
		</where>
	</select>
	<select id="selectByCityId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mis_shop
		where city_id = #{cityId} order by name limit #{start}, #{limit}
	</select>
	<select id="countByCityId" resultType="java.lang.Integer">
		select count(*) from mis_shop
		where city_id = #{cityId}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from mis_shop
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="Shop">
		insert into mis_shop (id, name, address,
		phone, longitude, latitude, email,
		province_id, province_name, city_id,
		city_name, code, pre_sales_id, status, create_time
		)
		values (#{id}, #{name},
		#{address},
		#{phone}, #{longitude}, #{latitude}, #{email},
		#{provinceId}, #{provinceName},
		#{cityId}, #{cityName},
		#{code}, #{preSalesId}, #{status}, #{createTime}
		)
	</insert>
	<insert id="insertSelective" parameterType="Shop">
		insert into mis_shop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="provinceId != null">
				province_id,
			</if>
			<if test="provinceName != null">
				province_name,
			</if>
			<if test="cityId != null">
				city_id,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="preSalesId != null">
				pre_sales_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="longitude != null">
				#{longitude},
			</if>
			<if test="latitude != null">
				#{latitude},
			</if>
			<if test="provinceId != null">
				#{provinceId},
			</if>
			<if test="provinceName != null">
				#{provinceName},
			</if>
			<if test="cityId != null">
				#{cityId},
			</if>
			<if test="cityName != null">
				#{cityName},
			</if>
			<if test="email != null">
				#{email},
			</if>
			<if test="code != null">
				#{code},
			</if>
			<if test="preSalesId != null">
				#{preSalesId},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="Shop">
		update mis_shop
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="longitude != null">
				longitude = #{longitude},
			</if>
			<if test="latitude != null">
				latitude = #{latitude},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId},
			</if>
			<if test="provinceName != null">
				province_name = #{provinceName},
			</if>
			<if test="cityId != null">
				city_id = #{cityId},
			</if>
			<if test="cityName != null">
				city_name = #{cityName},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="code != null">
				code = #{code},
			</if>
			<if test="preSalesId != null">
				pre_sales_id = #{preSalesId},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
		</set>
		where id = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="Shop">
		update mis_shop
		set name = #{name},
		address = #{address},
		phone = #{phone},
		longitude = #{longitude},
		latitude = #{latitude},
		province_id = #{provinceId},
		province_name = #{provinceName},
		city_id = #{cityId},
		city_name = #{cityName},
		email = #{email},
		code = #{code},
		pre_sales_id = #{preSalesId},
		status = #{status},
		create_time = #{createTime}
		where id = #{id}
	</update>
</mapper>